* {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}

#fundo-externo {
    overflow: hidden; 
    width: 100%;
    height: 100%;
    position: relative;
}

#fundo {
    position: fixed; 
    width: 100%;
    height: 100%;
}

#fundo img{
    width: 100%; 
    height: 100%;
    position: absolute;
}

#fundomid img {
    width: 100%; 
    position: absolute;
    bottom: -350px;
}

.btn-left{
    top: 25%;
    left: 1%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 18.5rem;
    width: 38rem;
}

.btn-right{
    top: 28%;
    left: 63%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 15rem;
    width: 15rem;
}

.btn-to-sala1{
    top: 95%;
    left: 50%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 5rem;
    width: 5rem;
    transform:rotate(230deg);
}

.btn-to-sala1p1{
    top: 90%;
    left: 46%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 5rem;
    width: 5rem;
    transform:rotate(230deg);
}

.btn-to-sala2{
    top: 67%;
    left: 52%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 5rem;
    width: 5rem;
    transform: scaleX(-1);
}

:hover .btn-to-sala2, .btn-to-sala3, .btn-to-sala1, .btn-to-sala1p1{
    cursor: grab;
}

.btn-video-s1{
    top: 21%;
    left: 31.5%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 46rem;
    width: 50rem;
}

.btn-sala2-left{
    top: 37%;
    left: 8%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 16rem;
    width: 37rem;
}

.btn-sala2-right{
    top: 40%;
    left: 60%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 15rem;
    width: 28rem;
}

.btn-video-s2{
    top: 21%;
    left: 9%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 40rem;
    width: 73rem;
}

.btn-to-sala3{
    top: 90%;
    left: 50%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 5rem;
    width: 5rem;
    transform:rotate(203deg);
}

.btn-sala3-left{
    top: 45%;
    left: 5%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 16rem;
    width: 50rem;
}

.btn-sala3-right{
    top: 40%;
    left: 50%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 20rem;
    width: 57rem;
}

.btn-video-s3{
    top: 10%;
    left: 5%;
    position: absolute;

    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 80rem;
    width: 86rem;
}

:hover .btn-left, .btn-right, .btn-video-s1, .btn-sala2-left, .btn-sala2-right, .btn-sala3-left, .btn-sala3-right{
    cursor: pointer;
}

#btn-fixed {
    overflow: hidden;
    position: absolute;
}

iframe{
    position: relative; 
    margin-left: 300px;
}


.mfp-hide{
    display: none !;
}

.arrow{
    height: 50px;
    width: 50px;
    position: absolute;
}